<div class="container text-sm" style="padding: 20px;">
  <h1>Edit Member Level</h1>
  <%= render partial: 'form' %>
  <div class='pt-2'>
    <%= link_to "Back", admin_member_levels_path, class: "btn btn-default" %>
  </div>
</div>
