<div class="max-w-xl">
  <div class="flex justify-between">
    <%= link_to 'Increase', new_increase_admin_orders_path, class: "w-1/2 py-2 rounded mb-4 mr-2 flex justify-center items-center no-underline #{'bg-blue-700 text-white' if current_page?(new_increase_admin_orders_path)} bg-blue-500 text-white hover:bg-blue-600" %>
    <%= link_to 'Deduct', new_deduct_admin_orders_path, class: "w-1/2 py-2 rounded mb-4 mr-2 flex justify-center items-center no-underline #{'bg-blue-700 text-white' if current_page?(new_deduct_admin_orders_path)} bg-blue-500 text-white hover:bg-blue-600" %>
    <%= link_to 'Bonus', new_bonus_admin_orders_path, class: "w-1/2 py-2 rounded mb-4 mr-2 flex justify-center items-center no-underline #{'bg-blue-700 text-white' if current_page?(new_bonus_admin_orders_path)} bg-blue-500 text-white hover:bg-blue-600" %>
    <%= link_to 'Member Level', new_member_level_admin_orders_path, class: "w-1/2 py-2 rounded mb-4 mr-2 flex justify-center items-center no-underline #{'bg-blue-700 text-white' if current_page?(new_member_level_admin_orders_path)} bg-blue-500 text-white hover:bg-blue-600" %>
  </div>
</div>