<div class="container-md p-4">
  <h1>News Ticker</h1>
  <%= render 'form', news_ticker: @news_ticker %>
  <div class='pt-2 pl-3'>
    <%= link_to 'Back', admin_news_tickers_path, class: "btn btn-secondary" %>
  </div>
</div>
