<div class="container text-sm" style="padding: 20px;">
  <h1>Add New Offer</h1>
  <%= render 'form' %>
  <div class='pl-2'>
    <%= link_to 'Back', admin_offers_path, class: "btn btn-secondary" %>
  </div>
</div>
