<style>
    .carousel-item img {
        max-width: 1600px;
        max-height: 500px;
        object-fit: cover;
    }

    .news-ticker {
        display: flex;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        background-color: #f8f9fa;
        padding: 10px 0;
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        position: relative;
    }

    .news-ticker {
        display: flex;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        background-color: #f8f9fa;
        padding: 10px 0;
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        position: relative;
    }

    .static-announcement {
        padding-right: 10px;
        font-weight: bold;
        background-color: #f8f9fa;
        z-index: 1;
    }

    .news-ticker-content {
        display: inline-block;
        animation: scroll 10s linear infinite;
        padding-left: 100px;
    }

    .news-item {
        display: inline-block;
        padding: 0 20px;
    }

    @keyframes scroll {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(-100%);
        }
    }
</style>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% @banners.each_with_index do |banner, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %>">
        <%= image_tag banner.preview.url, class: 'd-block w-100', alt: "Banner Image #{index + 1}" %>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
  </button>
  <div class="col-span-1 lg:col-span-4 pb-4">
    <div class="news-ticker">
      <span class="static-announcement">Announcements:</span>
      <div class="news-ticker-content">
        <% @news_tickers.each do |news_ticker| %>
          <span class="news-item"><%= news_ticker.content %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>


